<html xmlns:th="http://www.thymeleaf.org"
      th:replace="~{layout/base-layout :: base-layout (~{::title},~{::link},~{::section})}">
<head>
    <title>BookSpot 검색</title>
</head>
    <body>
        <section>
            <h2>소장 도서관</h2>
            <a th:href="@{/libraries/stock/book(keywordInput=${stockSearchForm.keywordInput}, latitude=${stockSearchForm.latitude}, longitude=${stockSearchForm.longitude}, bookId=${stockSearchForm.bookId})}">돌아가기</a>
            <h3>검색 결과</h3>
            <div th:each="content : ${contents}" th:object="${content}">
                <div><label>도서관 이름 :</label> <span th:text="*{libraryName}">A 도서관</span></div>
                <div><label>거리 :</label> <span th:text="|*{distance}m|">3.41km</span></div>
                <div>
                    <label>보유 현황 :</label> <span th:text="|*{availableBooksCount} / *{totalBooksRequested}|">6 / 10</span>
                    <ul>
                        <li>미보유 도서</li>
                        <ul>
                            <li th:each="book : *{unavailableBooks}">
                                <span th:text="${book.title}">책이름</span>
                            </li>
                        </ul>
                    </ul>
                </div>
            </div>
        </section>
    </body>
</html>